.content__default {
  @include text();

  p, td {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 12px;
  }

  h1, h2, h3, h4, h5 {
    @include title();

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 54px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;
    margin-top: 40px;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 24px;
  }

  h6 {
    @include text();
    font-family:'Open sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 24px;
  }

  em {
    font-style: italic;
  }

  a {
    color: $emerald;
  }

  .highlight, img {
    border-radius: 4px;
    margin-bottom: 20px;
  }

  table:not(.lntable) { //Excludes the tables created in the code
    width: 100%;
    margin-bottom: 24px;

    th {
      @include title();
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      padding: 12px;
      background-color: $softgrey;
      border: 1px solid #C5CCD5;

      &:empty {
        padding: 0;
        border: 0;
        background-color: transparent;
      }
    }

    td {
      padding: 12px;
      border: 1px solid #C5CCD5;
    }
  }

  ul:not([class]),
  ol:not([class]) {
    list-style: disc;
    margin-left: 32px;
    list-style-position: inside;
    margin-top: 12px;

    li {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 8px;
  
      &:last-child {
        margin-bottom: 12px;
      }
    }
  }

  ul:not([class]) {
    list-style: disc;
  }

  ol:not([class]) {
    list-style: decimal;
  }
}

.toc-sidebar__container {
  &.is-fixed {
    position: fixed;
    width: 180px;

    @media (min-width: $layout-desktop-l) {
      width: 240px;
    }

    @media (max-width: $layout-desktop) {
      width: 136px;
    }
  }
}

.toc-title {
  border-bottom: 1px solid #E7E9EC;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.page-toc {
  height: 55vh;
  overflow-y: auto;
  li {
    a {
      display: block;
      color: rgba($base-grey, 0.48);
      transition: color 0.15s ease, background-color 0.15s ease, ;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      padding: 8px;

      &:hover {
        color: $navyBlue;
        background-color: $softblue;
        text-decoration: none;
      }

      &.is-active {
        color: $navyBlue;
        text-decoration: none;
      }
    }

    li {
      a {
        padding: 8px 8px 8px 20px;
        text-transform: unset;
      }

      li {
        a {
          padding: 8px 8px 8px 36px;
          // @include text();
          font-family: $font-family-base;
        }
      }
    }
    
    & > ul > li > ul > li > a {
      padding: 8px 8px 8px 36px;
      font-family: $font-family-base;
      font-weight: normal;
    }
  }

  .toc__link {
    @include title();
    display: block;
    color: rgba($base-grey, 0.48);
    text-transform: uppercase;
    padding: 8px;

    &:hover {
      color: $base-grey;
      background-color: $softblue;
      text-decoration: none;
    }
  }
}

.tutorial {
  width: 114%;
  margin-top: 48px;

  .tutorial__index {
    padding: 16px 24px 16px 16px;
    background-color: $softgrey;
    border-radius: 4px;
  }

  .tutorial__steps {
    padding-left: 28px;

    @media(max-width: $layout-tablet) {
      padding-left: 0;
      border-left: none;
    }
  }

  @media(max-width: $layout-tablet) {
    width: 100%;
  }
}

.tutorial__step {
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  
  &.is-active {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
  }

  h5 {
    margin-top: 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  @media(max-width: $layout-tablet) {
    display: block;
    margin-bottom: 32px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.tutorial__index {
  .is-selected {
    color: $navyBlue;
  }

  li {
    position: relative;
    margin-bottom: 24px;
    list-style: none;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;

      .expansion-line {
        height: calc(100% - 12px) !important;
        background-color: $softgrey;
        top: 11px;
        width: 3px;
        transform: translateX(-1px);
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      // background-color: #c5ccd5;
      background-color: $emerald;
      top: 4px;
      left: -29px;
      margin-top: auto;
      margin-bottom: auto;
      transition: background-color 0.2s linear;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      background-color: transparent;
      top: 12px;
      left: -26px;
      border-radius: 50%;
      transition: all 0.2s linear;
    }

    &.is-selected {
      .expansion-line {
        height: 0;
      }

      &:after {
        width: 21px;
        height: 21px;
        background-color: rgba($emerald, 0.2);
        top: -3px;
        left: -36px;
      }

      & ~ li {
        &:before {
          background-color: #c5ccd5;
        }

        .expansion-line {
          height: 0;
        }
      }
    }
    
    .expansion-line {
      height: calc(100% + 24px);
      width: 1px;
      top: 10px;
      left: -26px;
      background-color: $emerald;
      transition: height 0.2s linear;
      position: absolute;
    }
  }

  ul {
    padding-left: 36px;
    position: relative;
    color: rgba($navyBlue, 0.48);

    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 24px);
      border-right: 1px solid #c5ccd5;
      top: 0;
      bottom: 0;
      left: 10px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.side-image {
  padding-bottom: 24px;
  border-bottom: 1px solid #E3E8EE;
}

.side-image__image {
  padding-right: 20px;

  @media(max-width: $layout-mobile) {
    padding-right: 0;
    margin-bottom: 32px;
    text-align: center;

    img {
      max-width: 320px;
    }
  }
}

.side-image__info {
  padding-left: 20px;

  @media(max-width: $layout-mobile) {
    padding-left: 0;
  }
}

a.arrow-link {
  @include title();
  font-size: 12px;
  line-height: 16px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-right: 28px;
  background-image: url("/img/resources/link-arrow.png");
  background-size: 20px;
  background-position: right center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    transition: transform .3s ease;
    left: -1px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform:  translateX(-100%);
  }
  
  &:hover:before {
    transform:  translateX(0);
  }

  &:hover {
    text-decoration: none;
  }
}

p,
td,
th,
li {
  > code {
    font-family: 'Overpass Mono', monospace;
    background-color: $softblue;
    border-radius: 2px;
    padding: 1px 4px;
  }
}

.image-card {
  display: block;
  border: 1px solid #C5CCD5;
  border-radius: 4px;
  height: 100%;
  transition: box-shadow 0.1s;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 6px 10px 0px rgba($navyBlue, 0.24);
  }
}

.image-card__content {
  padding: 24px;
}

.image-card__image {
  border-bottom: 1px solid #C5CCD5;
  height: 240px;
  background-color: $softgrey;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}