// Original source: https://codepen.io/yy/pen/vOYqYV

.code-examples {
  display: flex;
  justify-content: space-between;

  select {
    display: none;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 120px;
  user-select: none;
}

.custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 0 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: #2aac02;
  line-height: 32px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  top: 40%;
  right: 12px;
  width: 6px; 
  height: 6px;
  margin-top: 1px;
  border-bottom: 2px solid #2aac02;
  border-right: 2px solid #2aac02;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger {
  background: #eaf6e5;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 4px 0;
  border: 1px solid #e7e9ec;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  transition: all .2s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.option-hover:before {
  background: #f2f6f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 12px;
  border-bottom: 1px solid #e7e9ec;
  font-size: 14px;
  font-weight: 300;
  color: #162945;
  line-height: 32px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover {
  background: #f2f6f9;
}