
.floating-panel {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 #c8d2da;
  background-color: $white;
  padding-bottom: 20px;
  z-index: 2;
    
  .floating-panel__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 20px 20px 0 20px;
    background-color: transparent;

    &.panel-open .icon {
      transform: rotate(0deg);
    }

    .icon {
      transform: rotate(180deg);
      transform-origin: center;
      transition: transform 0.25s ease;
    }
  }

  .floating-panel__dropdown {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
    
    &.panel-open {
      max-height: 400px;

      .floating-panel__content,
      .floating-panel__action {
        opacity: 1;
      }
    }

    // TODO: test when content overflows
    .floating-panel__content {
      padding: 0 20px 20px 20px;
      overflow: auto;
      opacity: 0;
      transition: opacity 0.25s ease;
    }
    
    .floating-panel__action {
      border-top: 1px solid rgba($typo3, 0.24);
      padding: 20px 20px 0 20px;
      opacity: 0;
      transition: opacity 0.25s ease;
  
      a {
        display: flex;
        align-items: center;
        color: #036fe2;
  
        svg {
          fill: #036fe2;
        }
      }
    }
  }
}