// Hangar improvements
.u-align-start {
  align-items: start;
}

//Navbar Search
.navbar__search {
  position: relative;
  width: 20px;
  height: 40px;
}

.navbar__search-form {
  position: absolute;
  right: 0;
}

.navbar__search-input {
  width: 0px;
  padding: 16px 20px 10px 0;
  opacity: 0;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;

  &:focus {
    opacity: 1;
    width: 250px;

    border-bottom: 1px solid $white;
    cursor: text;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.32);
  }
}

.navbar__search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.navbar__elements {
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: $layout-desktop) {
  .navbar__elements {
    display: none;
  }

  .navbar__mobile-button {
    display: block;
  }

  .navbar__mobile {
    display: flex;
  }
}

// Sticky navbar
.navbar_sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $base-grey;
  z-index: 99999;
  animation-name: sticky;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

.button--map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 1px -1px rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}

@keyframes sticky {
  from {
    top: -76px;
  }
  to {
    top: 0;
  }
}

.hidden {
  display: none;
}

