// Hangar improvements
.u-align-start {
  align-items: start;
}

//Navbar Search
.navbar__search {
  position: relative;
  width: 20px;
  height: 40px;
}

.navbar__search-form {
  position: absolute;
  right: 0;
}

.navbar__search-input {
  width: 0px;
  padding: 10px 20px 10px 0;
  opacity: 0;
  background-color: transparent;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;

  &:focus {
    opacity: 1;
    width: 300px;
    border-bottom: 1px solid $white;
    cursor: text;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.32);
  }
}

.navbar__search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.navbar__elements {
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: $layout-desktop){
  .navbar__elements {
    display: none;
  }

  .navbar__mobile-button {
    display: block;
  }

  .navbar__mobile {
    display: flex;
  }
}

// Sticky navbar
.navbar_sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $base-grey;
  z-index: 99999;
  animation-name: sticky;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

@keyframes sticky {
  from { top: -76px }
  to { top: 0; }
}

// Sticky sidebar

.toc-sidebar__container {
  align-self: flex-start;  // FIX position sticky into a flex-box container
  position: sticky;
  top: 136px;
}