.home-header {
  overflow: hidden;
}

.header-image {
  position: relative;

  img {
    position: absolute;
    left: -10%;
    max-width: unset;
    width: 518px;
  }
}

.clickable-card {
  display: block;
  padding: 36px 36px 24px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 6px 10px 0px rgba($navyBlue, 0.24);
  }

  img {
    width: 48px;
    height: 48px;
  }
}

.clickable-card--small {
  padding: 24px;
}

.clickable-card--deprecated {
  display: flex;
  align-items: center;
  padding: 24px;
}

.tag {
  background-color: $softblue;
  padding: 4px 12px;
  border-radius: 4px;
  margin-top: 12px;
}