// .home-header {
//   overflow: hidden;
// }

.hero {
  flex: 0 0 100%;
  overflow: hidden;
}

.header__image {
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    left: -10%;
    max-width: unset;
    width: 518px;
    z-index: 0;
  }
}

.header__text {
  position: relative;
  z-index: 1;
}

.clickable-card {
  display: block;
  padding: 36px 36px 24px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;
  transition: box-shadow 0.1s linear;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 6px 10px 0px rgba($navyBlue, 0.24);
  }

  img {
    width: 48px;
    height: 48px;
  }
}

.clickable-card--small {
  padding: 24px;
}

.clickable-card--deprecated {
  display: flex;
  align-items: center;
  padding: 24px;
}

.clickable-card--highlighted {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 48px;
    width: 48px;
    top: -1px;
    right: -1px;
    background-image: url("/img/icons/featured-icon.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.tag {
  background-color: $softblue;
  padding: 4px 12px;
  border-radius: 4px;
  margin-top: 12px;
}

.badges {
  position: relative;
  display: flex;
  top: -58px;
  text-align: center;
  text-transform: uppercase;
  font: 600 12px/20px 'Montserrat';

  .core {
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 12px;
    line-height: 22px;
    color: #3969ac;
    background-color: #cbd6e1;
    &:before {
      content: 'core';
    }
    &:first-child {
      margin-left: auto;
    }
  }

  .advanced {
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 12px;
    line-height: 22px;
    color: #e68310;
    background-color: #eee3d3;
    &:before {
      content: 'advanced';
    }
    &:first-child {
      margin-left: auto;
    }
  }

  .experimental {
    margin-left: 16px;
    padding: 4px 12px;
    border-radius: 12px;
    line-height: 22px;
    color: #707070;
    background-color: #E0E0E0;
    &:before {
      content: 'experimental';
    }
    &:first-child {
      margin-left: auto;
    }
  }
}

.section-border {
  border-bottom: 2px solid #efefef;
}
