.whats-new-grid {
  position: relative;

  .select-trigger {
    padding-left: 4px;
  }

  .select-options {
    padding: 6px 0;
  }

  .select-option {
    &:hover {
      background-color: #efefef;
    }
    
    a {
      height: 24px;
    }
  }
}

.whats-new-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .whats-new-card {
    margin-bottom: 48px;
    padding: 0 0 48px 0;
    border-bottom: 1px solid #efefef;

    .whats-new-card__summary {
      .date {
        font-family: $font-family-base;
        font-size: 16px;
        line-height: 1.5;
        font-weight: normal;
        color: #6f777c;
      }
      
      .title {
        margin-top: 14px;
        margin-bottom: 16px;
      }
    }

    .tags-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 36px;

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        margin-right: 8px;
        padding: 0 6px;

        span {
          font-family: $font-family-base;
          font-size: 12px;
          font-weight: 600;
          line-height: 1.33;
          color: #162945;
          text-transform: capitalize;
        }
      }
    }

    .whats-new-card__content {
      img {
        margin: 36px 0 0 0;
      }
    }
  }
}