{{ define "main" }}
{{- partial "header.html" . -}}

<div class="is-bgWhite is-txtBaseGrey">
  <div class="container grid u-justify-center u-mt64 u-mb96 u-mt16--tablet u-mb48--tablet">
    {{- partial "aside-menu.html" . -}}
    <div class="grid-cell grid-cell--col7 grid-cell--col10--tablet content__default u-mb96 js-content">
      
      {{ $dir := absURL .CurrentSection.Dir }}
      {{ $paginator := .Paginator }}
      
      <div class="whats-new-list">
        {{ range $post := sort $paginator.Pages "Params.date" "desc" }}
          {{ partial "whats-new-summary.html" $post }}
        {{ end }}
      </div>
      
      {{ if (gt $paginator.TotalPages 1) }}
        {{ partial "paginator.html" (dict "context" . "paginator" $paginator) }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}