{{ define "main" }}
  {{- partial "header.html" . -}}

  <div class="is-bgWhite is-txtBaseGrey tutorial-single whats-new-list">
    <div class="container grid u-justify-center u-mt64 u-mb96 u-mt16--tablet u-mb48--tablet">
      {{- partial "aside-menu.html" . -}}

      <div class="grid-cell grid-cell--col7 grid-cell--col10--tablet content__default u-mb96 js-content whats-new-card">
        <a class="title f12 go-back u-mb16" href="javascript:history.back()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="#2aac02">
            <path fill-rule="evenodd" d="M10.293 4.294L8.879 5.708 12.172 9 4 9v2h8.172l-3.293 3.293 1.414 1.414L16 10z"/>
          </svg>
          Go back
        </a>
        
        <div class="whats-new-card__summary">
          <p class="date">{{ .Params.date.Format "January 2 2006" }}</p>
          <h2 class="title">{{ .Title }}</h2>
        </div>
    
        <!-- TAGS -->
        {{if .Params.tags}}
          <div class="tags-wrapper">
            {{ range $tag := .Params.tags }}
              <div class="tag {{$tag}}">
                <span>{{ $tag }}</span>
              </div>
            {{ end }}
            {{ range $component := .Params.components }}
              <div class="tag component">
                <span>{{ $component }}</span>
              </div>
            {{ end }}
          </div>
        {{end}}
    
        <div class="whats-new-card__content">
          {{.Content}}
        </div>
      </div>

      </div>
    </div>
  </div>
{{end}}