{{$dir := .Page.Dir}}
{{$id := delimit (shuffle (seq 1 9)) ""}}

<div class="code-examples">
  {{.Inner}}
  <select class="custom-select id{{$id}}"></select>
</div>

<!-- TODO: move JS code to a common place -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script>
  if (bigqueryNew() || bigqueryOld()) {
    domReady(() => {
      initializeCustomSelector('id{{$id}}'); 
    });
  }

  localStorageKey = 'carto-analytics-toolbox-plan';
  options = {
    custom: 'custom',
    os: 'carto-os',
    // st: 'carto-st',
    // sm: 'carto-sm',
    // me: 'carto-me',
    // la: 'carto-la',
    un: 'carto-un'
  };

  function initializeCustomSelector (id) {
    const isAdvanced = moduleIsAdvanced();
    const selectors = document.querySelectorAll(`select.custom-select.${id}`);
    if (selectors.length > 0) {
      const selector = selectors[0];
      if (selector.options && selector.options.length === 0) {
        if (bigqueryNew()) {
          selector.options[selector.options.length] = new Option(options['custom'], 'custom');
        }
        if (!isAdvanced) {
          // carto-os project does not contain advanced modules
          selector.options[selector.options.length] = new Option(options['os'], 'os');
        }
        selector.options[selector.options.length] = new Option(options['un'], 'un');
      }
    }
    createCustomSelector(id);
    const defaultValue = bigqueryNew() ? 'custom' : 'os'
    let value = localStorage.getItem(localStorageKey) || defaultValue;
    if (value === 'os' && isAdvanced) {
      // carto-os project does not contain advanced modules
      value = 'un';
    }
    updateCustomSelector(value);
  }

  function updateCustomSelector (value) {
    const examples = document.getElementsByClassName('language-sql');
    const selectors = document.getElementsByClassName(`custom-select-trigger`);

    Array.from(examples).forEach(example => {
      if (value === 'custom') {
        example.innerHTML = example.innerHTML.replace(
          /\s<span class="o">`<\/span><span class="n">carto<\/span><span class="o">-<\/span><span class="n">.*?<\/span><span class="o">`<\/span><span class="p">.<\/span><span class="n">carto<\/span><span class="p">.<\/span>/,
          ' <span class="n">carto</span><span class="p">.</span>'
        );
      } else {
        example.innerHTML = example.innerHTML.replace(
          /<span class="n">carto<\/span><span class="o">-<\/span><span class="n">.*?<\/span>/,
          `<span class="n">carto</span><span class="o">-</span><span class="n">${value}</span>`
        );
        example.innerHTML = example.innerHTML.replace(
          /\s<span class="n">carto<\/span><span class="p">.<\/span>/,
          ` <span class="o">\`</span><span class="n">carto</span><span class="o">-</span><span class="n">${value}</span><span class="o">\`</span><span class="p">.</span><span class="n">carto</span><span class="p">.</span>`
        );
      }
    });

    Array.from(selectors).forEach(selector => {
      selector.innerHTML = options[value];
    });
  }

  function moduleIsAdvanced () {
    const advanced = document.querySelectorAll('.badges .advanced');
    return advanced.length > 0;
  }

  function domReady (fn) {
    document.addEventListener('DOMContentLoaded', fn);
    if (document.readyState === 'interactive' || document.readyState === 'complete') {
      fn();
    }
  }

  function createCustomSelector (id) {
    // Original source: https://codepen.io/yy/pen/vOYqYV
    $(`.custom-select.${id}`).each(function() {
      let template =  `<div class="${$(this).attr('class')}">`;
      template +=  `<span class="custom-select-trigger ${id}"></span>`;
      template += `<div class="custom-options ${id}">`;
      $(this).find('option').each(function() {
        template += `<span class="custom-option ${id}" data-value="${$(this).attr('value')}">${$(this).html()}</span>`;
      });
      template += '</div></div>';
      $(this).wrap(`<div class="custom-select-wrapper ${id}"></div>`);
      $(this).hide();
      $(this).after(template);
    });
    $(`.custom-select-trigger.${id}`).on('click', function() {
      $(this).parents(`.custom-select.${id}`).toggleClass('opened');
    });
    $(`.custom-option.${id}`).on('click', function() {
      $(this).parents(`.custom-select.${id}`).removeClass('opened');
      const value = $(this).data('value');
      localStorage.setItem(localStorageKey, value);
      updateCustomSelector(value);
    });
  }

  function bigqueryOld () {
    return '{{$dir}}'.startsWith('analytics-toolbox-bq');
  }
  function bigqueryNew () {
    return '{{$dir}}'.startsWith('analytics-toolbox-bigquery');
  }
</script>