<section id="eu-flag-funding" class="section grid grid--center u-mt80">
    <div class="grid grid--center">
        <div class="grid grid--center grid-cell--col4 grid-cell--col3--mobile" style="justify-content: flex-end;">
            <img src="/img/eu-flag-funding/eu-flag-website.png" alt="EU flag" width="144" height="96" style="object-fit: contain;">
        </div>
        <p class="grid-cell--col6 grid-cell--col8--mobile text u-ml24" style="color: #6F777C;">This project has received funding from the <a href="https://ec.europa.eu/programmes/horizon2020/en" target="_blank" rel="noreferrer noopener">European Union’s Horizon 2020</a> research and innovation programme under grant agreement No 960401.</p>
    </div>
</section> 