<div class="grid-cell grid-cell--col6 grid-cell--col6--desktop-s grid-cell--col12--mobile u-mt48 u-mb24 tutorial-card">
  <a href="{{.Params.url}}" target="{{.Params.target}}">
    <div class="tutorial-card__image">
      <img src="{{.Params.image}}" />
    </div>
  </a>
  <div class="tutorial-card__content">
    <a href="{{.Params.url}}" target="{{.Params.target}}" class="title f32">
      {{.Params.title}}
    </a>
    <p class="text f16 is-txtTypo2 u-mt8">{{.Params.description}}</p>
  </div>
</div>