{{ define "main" }}
{{- partial "header.html" . -}}

<div class="is-bgWhite is-txtBaseGrey">
  <div class="container grid u-justify-center u-mt64 u-mb96 u-mt16--tablet u-mb48--tablet">
    {{- partial "aside-menu.html" . -}}
    <div class="grid-cell grid-cell--col7 grid-cell--col10--tablet content__default u-mb96 js-content relative-posistion">

      {{ $dir := absURL .CurrentSection.Dir }}

      <!-- NOTE: get all categories and pass them to the selector -->
      {{ $categories := slice }}
      {{ range $page := .Pages }}
        {{ if $page.Params.categories }}
          {{ $categories = $categories | append $page.Params.categories }}
        {{ end }}
      {{ end }}
      {{ partial "categories-select.html"  (dict "categories" ($categories | uniq) "dir" $dir)  }}

      {{ $paginator := .Paginator }}
      <!-- Show overview text on the first page only  -->
      {{ if not $paginator.HasPrev }}
      {{- partial "examples-overview" . -}}
      {{ end }}

      <ul class="grid u-mt64">
        {{ range $tutorial := sort $paginator.Pages "Params.date" "desc" }}
        {{ partial "example-summary.html" $tutorial }}
        {{ end }}
      </ul>

      {{ if (gt $paginator.TotalPages 1) }}
      {{ partial "paginator.html" (dict "context" . "paginator" $paginator) }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}