{{ define "main" }}
{{- partial "header.html" . -}}

<div class="is-bgWhite is-txtBaseGrey">
  <div class="container grid u-justify-center u-mt64 u-mb96 u-mt16--tablet u-mb48--tablet">
    {{- partial "aside-menu.html" . -}}
    <div class="grid-cell grid-cell--col7 grid-cell--col10--tablet content__default u-mb96 js-content">
      
      {{ $dir := absURL .CurrentSection.Dir }}
      {{ $paginator := .Paginator }}

      <!-- Show overview text on the first page only  -->
      {{ if not $paginator.HasPrev }}
        <div class="u-mb48">
          <h2>Overview</h2>
          
          <p>The <code>CARTO Data Warehouse</code> connection grants access to a set of demo tables and tilesets that can be used to start creating stunning maps and exploring the tools from the very beginning.</p>
          <p>They’re available and ready to be used in the Data Explorer and Builder and you can start using them with all components of the CARTO platform, such as running advanced spatial analysis with our Analytics Toolbox, with everything running directly on top of the provisioned <code>CARTO Data Warehouse</code>connection.</p>
          <p>In this section, we provide a varied set of tutorials on how to get the most out of your data:</p>
        </div>
      {{ end }}
      
      <ul class="grid">
        {{ range $tutorial := sort $paginator.Pages "Params.date" "desc" }}
          {{ partial "tutorial-summary.html" $tutorial }}
        {{ end }}
      </ul>
      
      {{ if (gt $paginator.TotalPages 1) }}
        {{ partial "paginator.html" (dict "context" . "paginator" $paginator) }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}