{{ define "main" }}
{{- partial "header.html" . -}}

<div class="is-bgWhite is-txtBaseGrey">
  <div class="container grid u-justify-center u-mt64 u-mb96 u-mt16--tablet u-mb48--tablet">
    {{- partial "aside-menu.html" . -}}
    <div class="grid-cell grid-cell--col7 grid-cell--col10--tablet content__default u-mb96 js-content relative-posistion">
      <!-- NOTE: category title -->
      <!-- <h1 class="title f32 u-mb48">{{ humanize .Params.category }}</h1> -->

      {{ $pages := where .Site.Pages "Section" .Section }}
      <!-- <p>Section: {{ .Section }}</p>
      <p>Pages in this section: {{ $pages }}</p> -->
      {{ $curr := slice .Params.category }}
      {{ $paginator := .Paginate (where $pages "Params.categories" "intersect" $curr) }}

      <!-- NOTE: get all categories and pass them to the selector -->
      {{$examples := .Parent.Parent}}
      {{ $categories := slice }}
      {{ range $page := $examples.Pages }}
        {{ if $page.Params.categories }}
          {{ $categories = $categories | append $page.Params.categories }}
        {{ end }}
      {{ end }}
      {{ partial "categories-select.html"  (dict "categories" ($categories | uniq) "dir" $examples.Dir "current" .Params.category) }}

      <!-- Show overview text on the first page only  -->
      {{ if not $paginator.HasPrev }}
        {{- partial "examples-overview" . -}}
      {{ end }}
      
      <ul class="grid">
        {{ range $paginator.Pages }}
          {{ partial "example-summary.html" . }}
        {{ end }}
      </ul>

      {{ if (gt $paginator.TotalPages 1) }}
        {{ partial "paginator.html" (dict "context" . "paginator" $paginator) }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}