{{$context := .}}
{{$folderNames := split .Dir "/"}}
{{$folderOneName := printf "%s%s" (index $folderNames 0) "/"}}
{{$overview := printf "%s%s" $folderOneName "overview.md"}}
{{$reference := printf "%s%s" $folderOneName "reference.md"}}

<!-- Mobile -->
<aside class="title toc--sidebar tablet u-mb16">
  <div class="toc--container">
    <button class="toc--link level-one dropdown-button" data-toggle="dropdown" data-start-open="false" data-close-when-click-outside="true">
      <div>
        <!-- Safari doesn't allow flex directly in button-->
        <h3 class="title f16 is-txtNavyBlue">Content</h3>
        <svg class="caret" stroke="currentColor" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-hidden="true">
          <path fill="#162945" fill-rule="evenodd"
            d="M11.569 5.431L8.04 8.96 4.511 5.431l-.942.943 4.471 4.471 4.471-4.471z" />
        </svg>
      </div>
    </button>
    <div class="dropdown-menu">
      <div class="toc--links">
        {{if fileExists $overview}}
          {{$isActive := eq $overview .File.Path}}
          <a href="{{(.GetPage $overview).Permalink}}" class="toc--link level-one {{ if $isActive }}is-current{{ end }}">Overview</a>
        {{end}}

        {{if .Params.extra_sections}}
          {{range $elem := .Params.extra_sections}}
            {{$file := printf "%s%s%s" $folderOneName (urlize $elem) ".md"}}
            {{$isActive := eq $file $context.File.Path}}
            <a href="{{($context.GetPage (printf "%s%s" "/" $file)).Permalink}}" class="toc--link level-one {{ if $isActive }}is-current{{ end }}">{{$elem}}</a>
          {{end}}
        {{end}}
  
        {{if .Params.folders}}
          {{range $folderTwo := .Params.folders}}
            {{ if $folderTwo.elements }}
              {{$folderTwoName := printf "%s%s" (urlize $folderTwo.name) "/"}}
              {{$elemFolderTwo := printf "%s" (index $folderTwo.elements 0) }}     
              {{$url := printf "%s%s%s%s" $folderOneName $folderTwoName (urlize $elemFolderTwo) ".md"}}
              {{$isActive := eq $url $context.File.Path}}
              <a href="{{($context.GetPage (urlize $url)).Permalink}}" class="toc--link level-one {{ if $isActive }}is-current{{ end }}">{{$folderTwo.name}}</a>
            {{ end }}
          {{end}}
        {{end}}
        {{if fileExists $reference}}
          {{$isActive := eq $reference .File.Path}}
          <a href="{{(.GetPage $reference).Permalink}}" class="toc--link level-one {{ if $isActive }}is-current{{ end }}">Reference</a>
        {{end}}
      </div>
    </div>
  </div>
</aside>

<!-- Desktop -->
<aside class="grid-cell grid-cell--col3 title f12 desktop-s toc--sidebar js-toc-sidebar">
  <div class="toc--container js-toc-sidebar-container">
    <h3 class="title f16 is-txtNavyBlue toc--title">{{.Params.title}}</h3>

    <div class="toc--links">
      {{if fileExists $overview}}
        {{$isActive := eq $overview .File.Path}}
        {{if $isActive}}
          <div class="toc-hugo__folder-one">
            {{.TableOfContents}}
          </div>
        {{else}}
          <a href="{{(.GetPage $overview).Permalink}}" class="toc--link level-one">Overview</a>
        {{end}}
      {{end}}

      {{if .Params.extra_sections}}
        {{range $elem := .Params.extra_sections}}
          {{$file := printf "%s%s%s" $folderOneName (urlize $elem) ".md"}}
          {{$isActive := eq $file $context.File.Path}}
          {{if $isActive}}
            <div class="toc-hugo__folder-one">
              {{$context.TableOfContents}}
            </div>
          {{else}}
            <a href="{{($context.GetPage (printf "%s%s" "/" $file)).Permalink}}" class="toc--link level-one">{{$elem}}</a>
          {{end}}
        {{end}}
      {{end}}

      {{if .Params.folders}}
        {{range $folderTwo := .Params.folders}}
          {{$folderTwoName := printf "%s%s" (urlize $folderTwo.name) "/"}}
          <ul class="toc-hugo__folder-one">
            <li>
              <button class="toc--link level-one dropdown-button end-check-active" data-toggle="dropdown" {{ if in $context.File.Dir $folderTwoName }} data-start-open="true" {{ end }}>
                <div>
                  <!-- Safari doesn't allow flex directly in button-->
                  <span>{{$folderTwo.name}}</span>
                  <svg class="caret" stroke="currentColor" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
                    <path fill="#162945" fill-rule="evenodd" d="M11.569 5.431L8.04 8.96 4.511 5.431l-.942.943 4.471 4.471 4.471-4.471z"/>
                  </svg>
                </div>
              </button>
              <div class="dropdown-menu">
                {{range $elemFolderTwo := $folderTwo.elements}}
                  {{$fileFolderTwo := printf "%s%s%s%s" $folderOneName $folderTwoName (urlize $elemFolderTwo) ".md"}}
                  {{$isActive := eq $fileFolderTwo $context.File.Path}}

                  {{if $isActive}}
                    <div class="toc-hugo__folder-two">
                      {{$context.TableOfContents}}
                    </div>
                  {{else}}
                    <ul>
                      <li>
                        <a href="{{($context.GetPage (urlize $fileFolderTwo)).Permalink}}" class="toc--link level-two">{{$elemFolderTwo}}</a>
                      </li>
                    </ul>
                  {{end}}
                {{end}}

                <!-- Start SubFolder -->
                {{if $folderTwo.folders }}
                  {{range $folderThree := $folderTwo.folders}}
                    {{$folderThreeName := printf "%s%s" (urlize $folderThree.name) "/"}}
                    <ul>
                      <li>
                        <button class="toc--link level-two dropdown-button" data-toggle="dropdown" {{ if in $context.File.Dir $folderThreeName }} data-start-open="true" {{ end }}>
                          <div>
                            <!-- Safari doesn't allow flex directly in button-->
                            <span>{{$folderThree.name}}</span>
                            <svg class="caret" stroke="currentColor" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true">
                              <path fill="#162945" fill-rule="evenodd" d="M11.569 5.431L8.04 8.96 4.511 5.431l-.942.943 4.471 4.471 4.471-4.471z"/>
                            </svg>
                          </div>
                        </button>
                        <div class="dropdown-menu">
                          {{range $elemFolderThree := $folderThree.elements}}
                            {{$fileFolderThree := printf "%s%s%s%s%s" $folderOneName $folderTwoName $folderThreeName (urlize $elemFolderThree) ".md"}}
                            {{$isActiveChild := eq $fileFolderThree $context.File.Path}}
                     
                            {{if $isActiveChild }}
                              <div class="toc-hugo__folder-three">
                                {{$context.TableOfContents}}
                              </div>
                            {{else}}
                              <ul>
                                <li>
                                  <a href="{{($context.GetPage (urlize $fileFolderThree)).Permalink}}" class="toc--link level-three">{{$elemFolderThree}}</a>
                                </li>
                              </ul>
                            {{end}}
                          {{end}}
                        </div>
                      </li>
                    </ul>
                  {{end}}
                {{end}}
                <!-- End SubFolder -->
              </div>
            </li>
          </ul>
        {{end}}
      {{end}}
      {{if fileExists $reference}}
        {{$isActive := eq (printf "%s%s" $folderOneName "reference.md") .File.Path}}
        {{if $isActive}}
          <div class="toc-hugo__folder-one">
            {{$context.TableOfContents}}
          </div>
        {{else}}
          <a href="{{(.GetPage $reference).Permalink}}" class="toc--link level-one">Reference</a>
        {{end}}
      {{end}}
    </div>
  </div>
</aside>