<div class="u-mb48">
    <h2>Examples</h2>
  
    <p>In this section we provide a set of examples that showcase how to get the most out of the CARTO platform, in
      particular through the Builder interface that is detailed in this User Manual.</p>

    <p>These tutorials cover a broad range of spatial use cases and unlock some of the core and spatial functions 
      inside your data warehouse using the <a
      href="{{ absURL "analytics-toolbox-bq/overview/getting-started/#getting-started" }}">Analytics Toolbox 
      for BigQuery</a>. Some the functions included are data transformations, spatial indexing for Quadkey and H3, 
      and advanced functions to carry out clustering, route calculations, statistics and more.

    <p>The data you need for these tutorials are available and ready to be used in the Data Explorer and Builder and you
      can start using them with all other components of the CARTO platform.</p>
  </div>

