<div class="u-mb48">
    <h2>Examples</h2>
  
    <p>In this section we provide a set of examples that showcase how to leverage the functions of our 
      Analytics Toolbox to unlock advanced spatial analyses in your data warehouse platform. These tutorials 
      cover a broad range of use cases with methods for data transformations, enrichment, spatial indexing 
      in Quadkey and H3, statistics, clustering, spatial data science methods and more.</p> 

    <p>The Analytics Toolbox can be leveraged from the SQL Query editor in Builder, your data warehouse console,
      or in SQL and Python Notebooks using the SQL clients provided by the different cloud platforms.</p>
  </div>


  <!-- <a href="{{ absURL "analytics-toolbox-bq/overview/getting-started/#getting-started" }}"> Analytics Toolbox 
    for BigQuery</a>.  -->