<div class="u-pa is-bgWhite floating-panel">
  <div class="u-pr floating-panel__title">
    <h4 class="title f12 is-txtNavyBlue">{{.Params.exampleTitle}}</h4>
    <button data-fullscreen-button data-target="example-iframe" class="u-pa">
      <svg class="icon unfold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24">
        <path fill="#2E3C43" fill-rule="evenodd" d="M12 13.586l5.707 5.707-1.414 1.414L12 16.414l-4.293 4.293-1.414-1.414L12 13.586zm4.293-10.293l1.414 1.414L12 10.414 6.293 4.707l1.414-1.414L12 7.586l4.293-4.293z"/>
      </svg>
    </button>
  </div>

  <div class="floating-panel__content u-mt4">
    <p class="text f12 is-txtTypo2">{{.Params.exampleDescription}}</p>
    {{if .Params.exampleExtraCode}}
      {{$extraSrc := printf "%s%s" .Page.Dir .Params.exampleExtraCode}}
      {{$extraCode := readFile ($extraSrc)}}
      <div class="u-mt32">{{ .RenderString $extraCode}}</div>
    {{end}}
  </div>
  {{if .Params.exampleGithub}}
    <div class="floating-panel__action">
      <a href="{{.Params.exampleGithub}}" target="_blank" class="title f12 is-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" class="u-mr4">
          <g fill="none" fill-rule="evenodd" transform="translate(0 -6)">
            <path fill="#036fe2" d="M10 11v2H4v12h12v-6h2v6c0 1.103-.897 2-2 2H4c-1.103 0-2-.897-2-2V13c0-1.103.897-2 2-2h6zm11-3v7h-2v-3.586L7.707 22.707l-1.414-1.414L17.586 10H14V8h7z"/>
          </g>
        </svg>
        Open in Github
      </a>
    </div>
  {{end}}
</div>