<div class="u-mb48">
  <h2>Tutorials</h2>

  <p>In this section we provide a set of tutorials that showcase how to get the most out of the CARTO platform, in
    particular through the Workspace and Builder interfaces that are detailed in this User Manual.</p>
  <p>These tutorials leverage the demo data provided by default via the <a
      href="{{ absURL "carto-user-manual/connections/carto-data-warehouse" }}">CARTO Data Warehouse</a> connection, so you can
    start creating maps and exploring our tools from the very beginning.</p>
  <p>The data you need for these tutorials are available and ready to be used in the Data Explorer and Builder and you
    can start using them with all other components of the CARTO platform.</p>
</div>