<div class="grid-cell grid-cell--col12 grid-cell--col12--desktop-s grid-cell--col12--mobile whats-new-card">
  <div class="whats-new-card__content__wrapper">
    <div class="whats-new-card__summary">
      <p class="date">{{ .Params.date.Format "January 2 2006" }}</p>
      <h2 class="title">{{ .Title }}</h2>
    </div>

    <!-- TAGS -->
    {{if .Params.tags}}
      <div class="tags-wrapper">
        {{ range $tag := .Params.tags }}
          <div class="tag {{$tag}}">
            <span>{{ $tag }}</span>
          </div>
        {{ end }}
      </div>
    {{end}}

    <div class="whats-new-card__content">
      {{.Content}}
    </div>
  </div>
</div>